# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [120]:
#Dependencies
import pandas as pd

#File pathing
school_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

#Dataframe merging both school and student files into a single set
school_data = pd.read_csv(school_csv)
students_data = pd.read_csv(students_csv)

#Dataframe merging both school and student files into a single set
school_data_full = pd.merge(school_data, students_data, how="left", on=["school_name", "school_name"])

# District Summary

Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

Include the following:

- Total number of unique schools

- Total students

- Total budget

- Average math score

- Average reading score

- % passing math (the percentage of students who passed math)

- % passing reading (the percentage of students who passed reading)

- % overall passing (the percentage of students who passed math AND reading)

In [115]:
#Calculate the total number of unique schools
count_schools = len(school_data_full["school_name"].unique())

#Calculate the total number of students
count_students = school_data_full["Student ID"].nunique()

#Calculate the total budget
total_budget = school_data["budget"].sum()

#Calculate the average (mean) math score
average_math_score = school_data_full["math_score"].mean()

# Calculate the average (mean) reading score
average_reading_score = school_data_full["reading_score"].mean()

#Use calculations to find the percentage of students who passed math
passing_math_count = school_data_full[(school_data_full["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_math_count / float(count_students) * 100

#Use calculations to find the percentage of students who passed reading
passing_reading_count = len(school_data_full[school_data_full["reading_score"] >= 70])
passing_reading_percent = passing_reading_count / count_students * 100

#Calculate both the number of students that passed math and reading
passing_math_reading_count = school_data_full[
    (school_data_full["math_score"] >= 70) & (school_data_full["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(count_students) * 100

#
district_summary = pd.DataFrame({
    "Total Schools": [count_schools],
    "Total Students": [count_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percent],
    "% Passing Reading": [passing_reading_percent],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:

- School name

- School type

-  students

- Total school budget

- Per student budget

- Average math score

- Average reading score

- % passing math (the percentage of students who passed math)

- % passing reading (the percentage of students who passed reading)

- % overall passing (the percentage of students who passed math AND reading)

In [116]:
# Grouped our full data frame by school name 
grouped_school = school_data_full.groupby(['school_name'])
# Calculate the total student for each school
total_student_by_school = grouped_school.size()
total_student_by_school

# Identify each school's type
school_type = grouped_school['type'].first()
school_type

# Calculate the total budget for each school
school_total_budget = grouped_school['budget'].first()
school_total_budget

# Calculate the budget per student for each school
student_budget = school_total_budget/total_student_by_school
student_budget

#Calculate the average math score per school
avg_math_by_school=grouped_school["math_score"].mean()

#Calculate the average reading score per school
avg_reading_by_school=grouped_school["reading_score"].mean()

# Calculate the percentange of passing math score for each school
grouped_passing_math = school_data_full[school_data_full["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
school_percent_passing_math = grouped_passing_math/count_students * 100

# Calculate the percentange of passing reading score for each school
grouped_passing_reading = school_data_full[school_data_full["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
school_percent_passing_reading = grouped_passing_reading/count_students * 100

# Calculate the overall passing score for each school for both reading and math
school_percent_overall_passing = (school_percent_passing_math + school_percent_passing_reading)/2

# Using the above data, create a dataframe that holds all the results for School Summary
school_summary_df= pd.DataFrame({"School Type": school_type,
    "Total Students":total_student_by_school,
    "Total School Budget":school_total_budget,
    "Per Student Budget":student_budget,
    "Average Math Score": avg_math_by_school,
    "Average Reading Score": avg_reading_by_school,
    "% Passing Math": school_percent_passing_math,
    "% Passing Reading": school_percent_passing_reading,
    "% Overall Passing Rate": school_percent_overall_passing})


# Formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,8.470768,10.408476,9.439622
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,4.465152,4.603013,4.534082
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,4.968088,6.078632,5.523360
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,4.776615,5.545060,5.160837
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,3.500128,3.640541,3.570334
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,7.898902,9.568547,8.733725
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,1.008425,1.049272,1.028849
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,4.891499,6.055655,5.473577
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,8.029104,9.872351,8.950728
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,2.323207,2.356395,2.339801
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,6.775594,8.189941,7.482767
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,4.220066,4.309420,4.264743
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,3.893286,4.061782,3.977534
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,5.471024,5.626755,5.548889
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,4.288997,4.439622,4.364309

# Top 5 performing schools
Sort and display the top 5 performing schools.

In [102]:
top_performing_schools = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=False)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,8.470768,10.408476,9.439622
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,8.029104,9.872351,8.950728
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,7.898902,9.568547,8.733725
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,6.775594,8.189941,7.482767
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,5.471024,5.626755,5.548889

# Top 5 worst performing schools
Sort and display the bottom 5 performing schools.

In [103]:
worst_performing_schools = school_summary_df.sort_values(["% Overall Passing Rate"], ascending=True)
worst_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,1.008425,1.049272,1.028849
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,2.323207,2.356395,2.339801
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,3.500128,3.640541,3.570334
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,3.893286,4.061782,3.977534
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,4.220066,4.309420,4.264743

# Math Scores by Grade
Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.